<launch>

    <arg name="robot_namespace" default="/"/>

    <!--  1.加载gazebo环境 -->
    <arg name="world_name" default="$(find scout_gazebo_sim)worlds/lab.world"/>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world_name)"/>
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>

    <!--  2.生成scout_v2的gazebo模型 -->
    <include file="$(find scout_gazebo_sim)/launch/spawn_scout_v2.launch"></include>
         
    <!--2.开启rviz并加载配置文件 -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find scout_description)/rviz/navigation.rviz" />
</launch>
